<html>
    <head>
        <title>Todo App</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/todo-list.js"></script>
        <link rel="stylesheet" href="assets/styles.css">
    </head>
    <body>
        <h1>Todo List</h1>
        <div id="todo-table">
            <form autocomplete="off" enctype="application/x-www-form-urlencoded">
                <input type="text" name="item" id="item" placeholder="Add new item...">
                <button>Add Item</button>
            </form>
            <ul>
                <%todos.forEach(function(data){ %>
                    <li><%=data.item%></li>
               <% });%>
            </ul>
        </div>
    </body>
</html>